{% extends 'registration/base.html' %}
{% load static %}

{% block titulo %}Restablecimiento de contraseña completado{% endblock titulo %}
{% block Pagina %}
<main role="main">
    <div id="recuperar_text">
        <div class="container">

          <div class="row">
              <div class="">
    <div class="col-md-10 col-mb-7 col-sm-7 col-xs-11">
        <h3 class="mb-4">Restablecimiento de contraseña completado  </h3>
        <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <p><a class="a" href="{% url 'Cestock:loginn' %}">Iniciar sesión</a></p>
      </div>
    </div>
  </div>
</div>
  </div>
</main>
{% endblock Pagina %}