{% extends 'registration/base.html' %}
{% load static %}

{% block titulo %}Restablecimiento de contraseña enviado{% endblock titulo %}
{% block Pagina %}
<main role="main">
      <div id="recuperar_text">
          <div class="container">

            <div class="row">
                <div class="">
      <div class="col-md-10 col-mb-7 col-sm-7 col-xs-11">
        <h2>Restablecimiento de contraseña enviado</h2>
        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña,<br> si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
        <p>Si no recibe un correo, por favor asegúrese de que ha introducido el email con el que se registró y verifique su carpeta de spam.</p>
      </div>
    </div>
  </div>
</div>
  </div>
</main>
{% endblock Pagina %} 