{% extends 'Cestock/PaginaPrincipal.html' %}
{% load static %}
    {% block css %}
    <style>
      .textotal{
        width: 100% !important;
      }  
      .rojo{
        color: rgb(252, 2, 2);
      }  
    </style>
    {% endblock css %}
    {% block titulo %}Atencion{% endblock titulo %}

    {% block Pagina %}

    <div class="container">
            <h3>Datos de Atencion</h3>
            <div class="col-md">
            <form id="formLog" method="POST" >
                {% csrf_token %}
                <div class="row">                  
                    <!-- <div class="col-md-6">
                        <h5>Nombre de Medico:</h5>
                        <div class="input-group form-group">
                            {% if user.is_authenticated %}
                            <input type="text" class="form-control" name="nombre_medico" value="{{ user.username }}">     
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <h5>Numero de Ficha:</h5>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" name="nro_ficha" placeholder="Numero de Ficha" required>
                        </div>
                    </div> -->

                    {{form.nombre_medico.label}}
                        {% if user.is_authenticated %}
                            <input type="text" class="form-control" name="nombre_medico" value="{{ user.username }}">     
                        {% endif %}
                    {{form.nombre_medico.errors}}

                    
                    {{form.nro_ficha.label}}
                    {{form.nro_ficha}}
                    {% if form.nro_ficha.errors %} 
                        {% for error in form.nro_ficha.errors %}
                            <h1 class="rojo">*error cl*</h1>
                        {% endfor %} 
                    {% endif %}

                    
                </div>
                    <hr>
                    <h2>Destalles</h2>
                    <div class="row">
                        <div class="col-md-12">
                                {{formP.sintomas.label}}
                        <br>
                        {{formP.sintomas}}
                        {{formP.sintomas.errors}}
                        </div>
                        
                    </div>
                        
                    <div class="row">
                        <div class="col-md-12">
                        {{formP.diagnostico.label}}
                        <br>
                        {{formP.diagnostico}}
                        {{formP.diagnostico.errors}}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                        {{formP.tratamiento.label}}
                        <br>
                        {{formP.tratamiento}}
                        {{formP.tratamiento.errors}}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                        {{formP.observacion.label}}
                        <br>
                        {{formP.observacion}}
                        {{formP.observacion.errors}}
                        </div>
                    </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Crear Atencion" class="btn btn-success">
                    <!-- {% if atencion_medica %}
                        <a href="{% url 'Cestock:Prescripcion' ID %}" class="gray-link modal-trigger"></a>
                    {% endif %} -->
                </div>               
            </form>
        </div>
    </div>


{% endblock Pagina %}

{% block js %}

<script type="text/javascript">
    var validated = false;
      $('#formLog').submit(function(e) {
        if(validated)
          return true;

          e.preventDefault();
          if($('#id_nro_ficha').val() == '' && $('#id_sintomas').val() == '' && $('#id_diagnostico').val() == ''  && $('#id_tratamiento').val() == '' )
          {
            console.log('NO TIENE LOS DATOS')
          }
          else{
            console.log('TIENE LOS DATOS');
            Swal.fire({
              title: '¡Atención medica!',
              type: 'success',
              text: 'quiere crear atencion medica.',
              showCloseButton: true,
              showCancelButton: true,
              confirmButtonText:'Confirmar',
              confirmButtonAriaLabel: 'Confirmar',
              cancelButtonText:'Cancelar',
              cancelButtonAriaLabel: 'Cancelar',
            }).then(function(result){
               // function when confirm button clicked
                if(result.value){
                  console.log('good');
                  validated = true;
                  $('#formLog').submit();
                }else if(result.dismiss == 'cancel'){
                   console.log('cancel');
                }
            })

          }
          return false;
      });
  </script>
{% endblock js %}