{% extends 'Cestock/PaginaPrincipal.html' %} 
{% load static %} 

{% block css %}
{% endblock css %} 

{% block titulo %}Carnet Paciente{% endblock titulo %} 

{% block Pagina %}
<div class="container">
  <div class="row tabla-lista">
    <div class="col text-left">
      <div class="row">
        <div class="col-md 10">
          <h4>Información del Paciente</h4>
        </div>
        <div class="col-md-2">
          <a class="btn btn-primary" href="{% url 'ListaPacientes' %}">Atrás</a>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="mx-auto col-sm-10">
          <div class="card">
            <div class="card-body">
              <form method="post">
                {% csrf_token %} 
                {{form.as_p}}
              </form>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
{% endblock Pagina %}
