<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Información del Carnet del Paciente</h4>
    </div>

    <div class="modal-body">
      <form action="get">
        {% if carnet.rut_paciente == rut %}
          {{form.as_p}}  
        {% else %}
          <h4>Paciente no posee carnet de atención.</h4>
        {% endif %}
      </form>
    </div>

    <div class="modal-footer">
      <button class="btn btn-info" type="button" data-dismiss="modal">Atrás</button>
    </div>
  </div>
</div>

