
<div class="modal-dialog" role="document" id="ifcarnet">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Información del Carnet del Paciente</h4>
      </div>
  
      <div class="modal-body">
        {% if carnet.rut_paciente == rut %}
          {{form.as_p}}  
        {% else %}
          <h4>Paciente no posee carnet de atención.</h4>
        {% endif %}
      </div>
  
      <div class="modal-footer">
        <a class="btn btn-info" href="{% url 'Cestock:ListaPacientes' %}">Atrás</a>
      </div>
    </div>
  </div>
    
