{% extends 'Cestock/PaginaPrincipal.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block css %}
{% endblock css %} 

{% block titulo %}Historial Atenciones{% endblock titulo %} 

{% block Pagina %}
<div class="container">
  <div class="row tabla-lista">
    <div class="col text-left">
      <div class="col">
        <h4>Historial Atenciones</h4>
      </div>
      <br />
      <div class="row">
        <div class="mx-auto col-md-12">
          <div class="card">
            <div class="card-body">
              <form method="get">
                <div class="form-row">
                  <div class="form-group col-md-10 mb-0">
                    {{filtro.form|crispy}}
                  </div>
                  <div class="form-group col-md-2 mb-0">
                    <button class="btn btn-info boton" type="submit" style="position: absolute; right: 0; bottom: 0;">Buscar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="mx-auto col-md-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-sm table-striped">
                <thead>
                  {% if atenciones %}
                  <tr>
                    <th scope="col">ID Atención Médica</th>
                    <th scope="col">Rut Paciente</th>
                    <th scope="col">Nombre Médico</th>
                    <th scope="col">ID Receta Emitida</th>
                    <th scope="col">Fecha Atención</th>
                    <th scope="col">Fecha Próx. Atención</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for carnet in carnets %}
                  {% for atencion in atenciones %}
                  {% if atencion.nro_ficha == carnet %}
                  {% for receta in recetas %}
                  {% if receta.id_atencion_medica == atencion %}
                  <tr>
                    <th scope="row">{{ atencion.id_atencion_medica }}</td>
                    <td>{{ carnet.rut_paciente }}</td>
                    <td>{{ atencion.nombre_medico }}</td>
                    <td>{{ receta.id_receta_medica }}</td>
                    <td>{{ atencion.fecha_atencion_medica }}</td>
                    {% if atencion.fecha_prox_atencion is None %}
                    <td>-</td>
                    {% else %}
                    <td>{{ atencion.fecha_prox_atencion}}</td>
                    {% endif %}
                    <td>
                      <button type="button" class="btn btn-sm btn-info" onclick="abrirModal('{% url 'InfoMedicamentoRecetado' receta.id_receta_medica %}')"><i class="fas fa-file-prescription"></i> Receta</button>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                  {% else %}
                  <h2>No Existen Atenciones Registradas.</h2>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="info" role="dialog">

</div>
<br>
{% endblock Pagina %}

{% block js %}
  <script src="{% static 'js/listapacientes/modal.js' %}"></script>
{% endblock js %}